

.imgnav{
  width: 160px;
  height: 160px;
}

.imgend{
  width: 250px;
  height: 250px;
  padding-left: 30px;
}


.showcase{
   
   height: 400px;
   margin-bottom: 270px;
} 

.fa-arrow-right-to-bracket{
  color: #ff3300;
 
}


.navbar-nav{
  padding-bottom: 30px;
  
} 


ul{
  display: flex;
  list-style: none;
  padding-left: 20px; 
} 

li{
  padding: 20px; 
} 








.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between ;
  
}

.header-right{
  padding-right: 150px;
}






.text1{
    font-family:  Ubuntu Condensed;
    font-size: 40px;
    line-height: 50px;
    color:  #7906ec;
    font-weight: bold;



}
.text2{
    color: rgba(0, 0, 0, 0.501);
    font-size:20px; 
    word-spacing: 3px;

}
.hero{
 display: flex;
 flex-direction: row;
 padding-left: 70px;
}
.hero-left{
  display: flex;
}
.hero-right{
  display: flex;
  padding-left: 200px;
  padding-top: 100px;
}


.start{
    border: none;
    border-radius: 16px;
    font-size: 20px;
    width: 320px;
    height: 75px;
    color: white;
    background-color: #fc8f00;
   margin-left: 220px;
    font-weight: 800;
    box-shadow: 0px 18px 5px rgba(251, 210, 6, 0.399);
}
.nav-item{
    padding-left:80px;
   
}







.text11{
    font-size: 45px;
    color: #0B132A;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
  }


.subs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  position: relative;
  top: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6rem 2rem;
}



.subs-left {
  max-width: 560px;
}

.subs-right {
  margin-top: 20px;
}


.subscribe{
    margin-right: 250px;
    border: none;
    border-radius: 16px;
    color: #ffffff;
    font-weight: bold;
    background-color:#fc8f00;
    box-shadow: 0px 18px 5px  rgba(251, 210, 6, 0.399);
    font-size: 20px;
    height: 100px;
    width: 440px;
}



.end{
    margin-top: 120px;
        display: flex;
        flex-direction: row;
        padding-left: 200px;
}

.foot{
    display: flex;
    flex-direction: row;
}



.engage{
padding-left: 150px;
padding-top: 100px;
}





.text14{
    color: rgba(0, 0, 0, 0.501);
    font-size:28px; 
    word-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}

.text15{
    color: rgba(0, 0, 0, 0.501);
    font-size:26px; 
    word-spacing: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}
.text13{
    color: #0B132A;
    font-size:30px; 
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
}  




.left{
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    width: 450px;
    height: 450px;
}


.cart{
  background-image: url(https://images.wallpaperscraft.ru/image/single/fon_gradient_volna_207449_3840x2400.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.zibr{
  display: flex;
  flex-direction: row;
  
}

.zib1,.zib2{
  display: flex;
}

.zibrall{
  display: flex;
  flex-direction: column;
}

.zb{
  border-right: solid 10px rgb(235, 110, 8);
}
.zb2,.zb{
 width: 700px;
 height: 500px;
}
.zibra{
  margin-bottom: 290px;
}
.zibi{
  border: solid 10px  rgb(235, 110, 8);
}

.eye{
  margin-bottom: 290px;
}
.eyech{
  display: flex;
  flex-direction: row;
}
.eye1,.eye2{
  display: flex;
}
.eyeall{
  display: flex;
  flex-direction: column;

}
.ei{
  border: solid 10px  rgb(235, 110, 8);
}

.ey,.ey2{
  width: 700px;
 height: 500px;
}

.ey{
  border-right: solid 10px rgb(235, 110, 8);
}



.let{
  border-right: solid 10px rgb(235, 110, 8);
}

.leti{
  border: solid 10px  rgb(235, 110, 8);
}


.lets{
  display: flex;
  flex-direction: row;
}

.lets1,.let2{
  display: flex;
}

.letsen{
  display: flex;
  flex-direction: column;

}

.let,.let2{
  width: 700px;
  height: 500px;
}
  
.startaps{
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  padding-left: 160px;
}



.tx{
 display: flex;
 padding-top: 100px;
 padding-left: 700px;
 font-size: 70px;
 font-weight: bold;
}

.zbt{
  font-size: 70px;
  font-weight: bold;
}
.txx{
  color:  #7906ec;
  font-family:  Ubuntu Condensed;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.don{
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: #0B132A;
  
}

.fa-dollar-sign{
  font-size: 50px;
}

.inv{
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: #0B132A;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
  
}

#text1,#text2,#text3{
  margin-bottom: 70px;
}

.fl{
  display: flex;
  flex-direction: row;
}

.meet{
  background: #0000005e;
  width: 200px;
  height: 100px;
 
}



.sta{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load{
  display: flex;
  flex-direction: column;
}

.fr{
  color:  #7b05f2;
  font-family:  Ubuntu Condensed;
  font-size: 70px;
  line-height: 50px;
  font-weight: bold;
  margin-top: 140px;
  padding-left: 580px;
}

.uploadButton {
  display: block;
  width: 200px;
  height: 50px;
  background: rgb(255, 255, 255);
  padding: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 30px;
}
.uploadButton:hover {
  background: #3ce;
}
.uploadButton div{
color: #00097d;
}

.ok{
  margin-top: 40px;
  width: 400px;
  border: none;
  border-radius: 16px;
  color: #000000;
  font-weight: bold;
  background-color:#fc8f00;
  box-shadow: 0px 18px 5px  rgba(251, 210, 6, 0.399);
  font-size: 40px;
  height: 100px;
  width: 440px;
}

.fr2{
  color:  #000000;
  font-family:  Ubuntu Condensed;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  padding: 20px;
}



#inp_file{
  color:  #000000;
  font-family:  Ubuntu Condensed;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.in{
  width: 520px;
  height: 40px;
  border-radius: 10px;
  border-color: #ec4f06;
}


.in2{
 width:1050px ;
 height: 50px;
 border-radius: 10px;
 border-color: #ec4f06;
}

.in3{
  width:660px ;
 height: 50px;
 border-radius: 10px;
 border-color: #ec4f06;
}

.in4{
  width:400px ;
 height: 50px;
 border-radius: 10px;
 border-color: #ec4f06;
}

.in5{
  width:440px ;
 height: 50px;
margin-left: 20px;
border-radius: 10px;
border-color: #ec4f06;

}

.in6{
  width:440px ;
 height: 50px;
 margin-left: 20px;
 border-radius: 10px;
 border-color: #ec4f06;
}

.in7{
  width:440px ;
 height: 50px; 
 margin-left: 20px;
 border-radius: 10px;
 border-color: #ec4f06;
}

.carta{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.newss{
  display: flex;
  flex-direction: column;
}



.nw1,.nw2,.nw3,.nw4,.nw5{
  width: 1300px;
  height: 500px;
  padding-left: 300px;
  margin-left: 100px;
  margin-bottom: 100px;
  
}


#txn{
  color: rgb(0, 0, 0);
    font-size:50px; 
    word-spacing: 3px;
    font-weight: bold;
    width: 900px;
    margin-left: 420px;
    margin-bottom: 100px;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url(fonts/UbuntuCondensed-Regular.ttf);
  font-weight: bold;
  font-style: normal;
}

  @media screen and (max-width: 592px) {
    body {
      max-width: 600px;
    }
  }

  @media screen and (max-width: 592px) {
    .showcase {
      margin-top: 50px;
      width: 100px;
    }

    .hero-right{
      margin-right: 50px;
    }

    .start{
      margin-right: 50px;
    }

    
   
    .img1 {
      width: 300px;
      height:200px;
    }

    .navbar{
      max-width: 1600px;
    }

    .text1{
      font-size: 25px;
      line-height: 25px;
      }
  }





 
  
  @media screen and (max-width: 592px) {
    .text11{
      font-size: 16px;
      max-width: 200px;
      text-align: left;
    }
    .text12{
      font-size: 15px;
      max-width: 200px;
      text-align: left;
    }
    .subscribe{
      width: 140px;
      height: 50px;
    }
   
.subs-left{
  margin-left: 50px;
}

    .subs-right{
      width: 40%;
      margin-left: 50px;
    }

.subs{
  width: 1200px;
}

  }

  
  
  @media screen and (max-width: 592px) {
    .left{
      flex-direction: column;
    }

    .foot{
      flex-direction: column;
      
    }

    .end{
      flex-direction: column;
    }

    
      
      .engage{
      padding-left: 0px;
      }
      
      

    }


    @media screen and (max-width: 592px) {
      #text1, #text2, #text3{
        width: 1000px;
      }
      .fl{
        width: 1000px;
      }

    }


    @media screen and (max-width: 592px) {   

      .nw1, .nw2, .nw3, .nw4, .nw5{
        margin-left: 0px;
        padding-left: 100px;
      }

      #txn{
        margin-left: 200px;
      }
    }


    @media screen and (max-width: 592px) {
      .fr{
        padding-left: 200px;
        width: 1000px;
      }

      .sta{
        width: 1000px;
      }
    }